<div class="navbar">
    <div class="container">
        <a class="logo" href="#">Keep<span>Running</span></a>
        <nav>
            <ul>
                <li><a href="#">SignOut</a> </li>
            </ul>
        </nav>
    </div>
</div>
