@*@using KeepRunning.Models.ViewModels
@model RegisterLoginViewModel

<section class="login-panel">
    <div class="container">
        <div class="login-form">
            <p class="login-head">SignIn</p>
            @using (Html.BeginForm("Registration", "Runner", FormMethod.Post))
            {
                <label for="email">Email: </label>
                <br />
                <input type="email" id="email" name="email" />
                <br />
                <label for="password">Password: </label>
                <br />
                <input type="password" id="password" name="password" />
                <br />
                <input type="submit" value="SignIn" />
            }
        </div>
        <div class="go-to-register">
            <p>Don't have an account? <a href="register">Create One</a></p>
        </div>
    </div>
</section>*@